
@{
    ViewBag.Title = "Dashboard";
}
@model List<WebApplicationStudent.Models.Student>
<h2>Dashboard</h2>
<h3><a href="/Home/AddStudent" class="btn btn-primary">Add Student </a></h3>
<div class="container">
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Credit</th>
            <th>Cgpa</th>
            <th>DeptId</th>
            <th>DOB</th>
            <th></th>
            <th></th>
        </tr>
      

        @foreach(var student in @Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Credit</td>
                <td>@student.Cgpa</td>
                <td>@student.DeptId</td>
                <td>@student.DOB</td>
                <td><a href="/Home/Edit/@student.Id" class="btn btn-success">Edit</a></td>
                <td><a href="/Home/Delete/@student.Id" class="btn btn-danger">Delete</a></td>

             </tr>
        }


    </table>
</div>

